/* --------------Footer---------- */
footer {
  background-color: #222;
  color: #fff;
}

footer a {
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

footer h5 {
  font-weight: bold;
}
/* -------cAard------------ */
.fa-heart {
  transition: transform 0.2s, color 0.2s;
}
.fa-heart:hover {
  transform: scale(1.2);
  color: #ff6347; /* Tomato color on hover */
}

/* @media (prefers-reduced-motion: no-preference) {
  
} */

